{% extends './base.html' %} <br />
{% block content %}
<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">
        Weka Oda yako ya bati tukufikishie popote ulipo Tanzania
      </h1>
    </div>
  </div>
  {% if request.user.role == 'OWNER' or request.user.role == 'ADMIN' %}
  <button
    type="button"
    class="btn btn-primary text-light float-end"
    data-bs-toggle="modal"
    data-bs-target="#basicModal"
  >
    Post Bidhaa
  </button>
  {%endif%}
</header>

<div class="container">
  <div class="row">
    {% for product in bati %}
    <div class="col-md-6 mb-4">
      <div class="card">
        <a href="#!">
          <img
            class="card-img-top"
            src="{{ product.image.url }}"
            alt="{{ product.name }}"
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>Bei:</strong></p>
          <strong><p>{{ product.price }}</p></strong>
          <a class="btn btn-primary" href="{%url 'place_order' product.name%}"
            >Weka Oda Yako</a
          >
          {% if request.user.role == 'OWNER' or request.user.role == 'ADMIN' %}
          <a class="btn btn-danger" href="{%url 'delete_product' product.name%}"
            >Delete</a
          >
          {%endif%}
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 and not forloop.last %}
  </div>
  <div class="row">{% endif %} {% endfor %}</div>
</div>

<form method="POST" enctype="multipart/form-data">
  <div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Post Bati</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        {% csrf_token %}
        <div class="modal-body">
          <!-- Name Field -->
          <div>
            <label for="{{name.id_for_label}}">Jina la Bati</label><br />
            {{name}}<br />
          </div>

          <!-- Price Field -->
          <div>
            <label for="{{price.id_for_label}}">Bei</label><br />
            {{price}}<br />
          </div>

          <!-- Image Field -->
          <div>
            <label for="{{image.id_for_label}}">Picha</label><br />
            {{image}}<br />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary text-light">Post</button>
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock content %}
