{% extends './base.html' %} <br />
{% block content %}
<div class="col">
  <!-- Featured blog post-->
  <div class="card mb-4">
    <div class="card-body">
      {% comment %}
      <div class="small text-muted">January 1, 2023</div>
      {% endcomment %}
      <u><h1 class="card-title">Wasifu wa Kampuni Ya Imara Building Materials</h1></u>
      <p>
        Wasifu wa Kampuni ya Imara Bati Imara Bati ni kampuni inayoongoza katika
        utoaji wa suluhisho bora za ujenzi nchini, ikijivunia kutoa bati za
        kisasa na imara kwa ajili ya kuezeka nyumba na majengo. Tunajivunia kuwa
        wabunifu katika sekta ya ujenzi, tukitoa bidhaa za bati zinazotumika kwa
        ufanisi na kudumu kwa muda mrefu. 
      </p><br>
      <p>
        Kampuni yetu ilianzishwa kwa lengo la
        kutoa bati za ubora wa juu zinazozalishwa kwa teknolojia ya kisasa, kwa
        kutumia malighafi bora na viwango vya kimataifa. Tunaamini katika kutoa
        bidhaa zinazowafaidi wateja wetu, na tunahakikisha kuwa kila bati
        tunazozalisha inakidhi mahitaji ya wateja wetu kwa usalama, uimara, na
        ufanisi. 
      </p><br>
      <p>
        Imara Bati ni chaguo la kwanza kwa wateja wanaotafuta bati za
        gharama nafuu, zenye ubora wa juu na uwezo wa kukabiliana na hali ya
        hewa yoyote. Kwa miaka mingi, tumejijengea umaarufu mkubwa na imani
        miongoni mwa wateja wetu, ikiwa ni pamoja na wamiliki wa nyumba,
        wakandarasi, na kampuni za ujenzi.
      </p><br>
        Kwa sasa, kampuni yetu ina matawi
        katika mikoa mbalimbali, ikitoa huduma bora na ya haraka kwa wateja
        wetu. Tunatoa huduma za usafirishaji bure kwa wateja waliopo Dar es
        Salaam, na pia tunasaidia wateja waliopo mikoani kwa kuwaruhusu kutuma
        wawakilishi wao kwa kiwanda chetu ili kuthibitisha ubora wa bidhaa.
    </p>
       <h2> Mbinu zetu za Manunuzi: </h2>
        
        <h3>1. Kwa wateja walioko Dar es Salaam: </h3>
          <p>Tunatoa
        huduma ya usafirishaji bure kwa wateja wetu waliopo Dar es Salaam.
        Unapofanya manunuzi ya bati zetu, bidhaa zako zitaletwa hadi kwenye eneo
        lako na malipo yatafanyika baada ya kupokea bidhaa. Hii inahakikisha
        unapata bidhaa za ubora bila usumbufu wowote.
          </p><br>
       <h3>2. Kwa wateja walioko nje
        ya Dar es Salaam:</h3>
        <p>
         Kwa wateja walioko nje ya Dar es Salaam, tunatoa fursa
        ya kumtuma mwakilishi wako, ndugu, au rafiki aliye Dar es Salaam ili aje
        kiwandani kujiridhisha na ubora wa bati zetu. Mara baada ya kuthibitisha
        bidhaa, wateja watafanya malipo na tunahakikisha usafirishaji unafanyika
        bure hadi kwao. Hii inahakikisha kuwa kila mteja anapata bidhaa bora kwa
        urahisi na salama.Katika Imara Bati, tunazingatia urahisi wa
        ununuzi, kutoa huduma bora, na kujenga uhusiano wa kudumu na wateja
        wetu. Tutaendelea kuwa viongozi wa soko la bati, tukiwa na dhamira ya
        kutoa bidhaa bora zaidi zinazowafaidi wateja wetu na kuboresha sekta ya
        ujenzi nchini.
      </p>
    </div>
  </div>
</div>
{%endblock content%}
